/*/ Fuente insertada de Google Fonts /*/

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }

/*/ ESTRUCTURA BASICA (Header, Body, Footer) /*/

/*/----HEADER----/*/
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

#logo_menu {
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.nombre_empresa {

    font-family: "Yellowtail", cursive;
    font-weight: bold;
    font-size: 25pt;
    margin-top: 11px;
    margin-left: -50px;
}

.slogan_empresa {
    font-family: "Yellowtail", cursive;
    font-weight: bold;
    font-size: 15pt;
    margin-top: -5px;
    margin-left: -50px;

}

#login_menu {
    width: 50px;
    height: 50px;
    padding-top: 10px;

}


.navbar {
    margin: auto;
    background: #c1bdb5;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 12px rgba(193, 189, 181, 0.575);
}

.nav_links {
    display: flex;
    gap: 50px;
}

.nav_link, .menu_desplegable li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #440c0c;
}

.nav_links li {
    margin-top: 15px;
}

.nav_link a {
    text-decoration:  none;
    color: #440c0c;
}

.menu_desplegable a:hover {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(117, 117, 117, 0.575);

}

.menu_desplegable {
    position: absolute;
    min-width: 100px;
    width: 130px;
    margin-top: 100px;
    padding: 10px -10px;
    margin: 10px -30px;
    background: #d6d2c9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(193, 189, 181, 0.575);
    font-size: 12pt;
    display: none;
}

.desplegable:hover .menu_desplegable{
    display: block;
}

.nav_link:hover {
    background-color: #d6d2c9;
    border-radius: 10px;
}


.banner1{
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 25px;
    max-width: 1310px;
    width: 1310px;
    margin-right: 10px;
    height: 500px;
}


/*/----BODY----/*/

body {
    background-color: #440c0c;
    min-width: 1310px;
    width: 1340px; 
    height: 100vh;
    align-items: center; 
    display: table; 
    text-align: center; 
    margin: 0 auto; 
}

#marcas_articulos{
    color: #440c0c;
    font-family: sans-serif;
    background-color: #c1bdb5;
    border-radius: 20px;
}

.p_texto_index {
    color: #440c0c;
    font-family: sans-serif;
    font-size: 14pt;
    background-color: #c1bdb5;
    text-align: left;
    border-radius: 20px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    margin-bottom: 25px;
}

/*/----FOOTER----/*/

.footer {
    background-color: #c1bdb5;
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
}

.footer img {
    float: left;
    align-items: left;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

/*/ Codigo especifico /*/


/*/ Pagina registro /*/

.formulario_registro {
    align-items: left;
}

.formulario_fieldset {
    border-radius: 20px;
    background-color: #c1bdb5;
    border: none;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    
  }

#bloque_registro {
    padding-left: 50px;
    padding-right: 50px;
}

.h1_registro {

    font-family: sans-serif;
    color: #440c0c;
    text-align: left;
  }

 .p_registro {
    font-family: sans-serif;
    color: #440c0c;
    text-align: left;
    
 }

.coche_registro {

    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
 }

#label_formulario,#a_politica {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
    color: #454546;
    align-items: left;
    text-align: left;
 }

input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px grey solid;
    
 }

input::placeholder {
    padding-left: 10px;
 }

#submit {
    color: #c1bdb5;
    background-color: #440c0c;
    font-family: sans-serif;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 7px;
    margin-top: 2%;
}

#submit:hover {
    background-color: #771717;
    box-shadow: 0 0 10px 5px rgba(175, 16, 16, 0.3);
    transition: all 0.7s;
}

 /*/ Pagina registro completado /*/

.imagen_registro {
    margin-top: 15%;
}

 .registro_completado {
    font-family: sans-serif;
    color: #440c0c;
    background-color: #c1bdb5;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

 .imagen_registro {
    width: 15%;
}


 /*/ Politica de privacidad /*/

.politica {
    color: #440c0c;
    background-color: #c1bdb5;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    text-align: justify;
}


 /*/ Pagina web compra general /*/

 #container{
    width: 100%;
    min-height: 600px;
    margin-left: 50px;
    margin-right: 50px;    
}

#container h2 {
    font-family: sans-serif;
    color: #c1bdb5;
    font-size: 50px;
    text-align: left;
    margin-left: 60px;
    text-decoration: underline;
}

#compra{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 2em;
}
.compra-caja{
    border: 1px solid #CCCCCC;
    background-color: #c1bdb5;
    margin-left: 1em;
    margin-top: 1em;
    overflow: hidden;
    padding: 1em;
    border-radius: 20px;
}
.compra-caja img{
    width: 100%;
    padding-top: 1px;
    border-radius: 5px;
}
.compra-caja p{
    line-height: 1.5em;
    text-align: left;
    font-family: sans-serif;
    color: #440c0c;
    font-weight: bold;
    padding-bottom: 10px;
}

.compra-caja h4 {
    text-align: left;
    font-family: sans-serif;
    color: #440c0c;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.compra-caja a {
 margin-top: 10px;
 text-decoration: none;
}


/*/ Pagina especifica compra /*/

#coche_articulo {
    background-color: #c1bdb5;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px 20px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#coche_articulo h2 {
    color: #440c0c;
    font-family: sans-serif;
    text-align: left;
    padding-left: 25px;
    float: left;
}


#articulo_titulo {
    overflow: hidden;
}

#h2_titulo {
    float:left;
    padding-top: 15px;
    font-size: 25pt;
}

#h2_precio {
    position: absolute;
    right: 62px;
    padding-top: 15px;
    font-size: 25pt;
}

#detalles {
    background-color: #c1bdb5;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    display: flex;
    align-items: flex-start;
    border-radius: 0px 0px 20px 20px;
}

#detalles h2 {
    color: #440c0c;
    font-family: sans-serif;
    text-align: left;
    padding-left: 20px;
}

#texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}

#texto a {
    background-color: #440c0c;
    color: #c1bdb5;
    text-decoration: none;
    font-size: 15pt;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    margin-left: 125px;
    margin-top: 10px;
}

#texto a:hover {
    background-color: #771717;
    box-shadow: 0 0 10px 5px rgba(175, 16, 16, 0.3);
    transition: all 0.7s;

}
#detalles p {
    color: #440c0c;
    font-family: sans-serif;
    text-align: justify;
    padding-left: 30px;
    padding-top: 10px;
    float: left;
}

#detalles img  {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    float: left;
}


/*/ Codigo especifico para cada coche /*/

#mustang {
    float: left;
    width: 120px;
    padding-left: 15px;
}

#seat {
    float: left;
    width: 120px;
    padding-left: 15px;
}

#porsche {
    float: left;
    width: 90px;
    padding-left: 15px;
    padding-top: 15px;
}

#bmw {
    float: left;
    width: 100px;
    padding-left: 15px;
    padding-top: 15px;
}

#audi {
    float: left;
    width: 100px;
    padding-left: 15px;
    padding-top: 40px;
}

#mercedes {
    float: left;
    width: 120px;
    padding-left: 15px;
    padding-top: 15px;
}

